table1 {
    border: 2px solid black;

}
#title {
    font-size: 40px;
    font-family: "Bookman Old Style";
    width: auto;
    margin-left: 30%;
    margin-top: 30px;
}
#items {
    margin:0 auto;
    display:block;
    margin-top: 30px;
}
#list {
    margin:0 auto;
    display:block;
    margin-top: 10px;
}

#listed {
    margin-left: 42%;
    padding:10px;
    border-radius: 25px;
    margin-top: 10px;
}